body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    position: relative;
}

header img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 150px;
    width: 300px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0;
    font-size: 1.2em;
}

header button {
    background-color: #ff66b2;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

header button:hover {
    background-color: #e60073;
}

section {
    margin: 50px 0;
}

#services ul {
    list-style: none;
    padding: 0px 40px;
}

#services li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#services li:hover {
    background-color: #f0f0f0; 
}

form {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
    width: 50%;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #ff66b2;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #e60073;
}

#testimonials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    display: flex;
    align-items: center;
}

.testimonial img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    position: relative;
    margin-bottom: -50px;
}

footer a {
    color: #ff66b2;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

#messages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cute-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fef5ff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 15%;
}

.cute-message p {
    margin: 0;
}

.hearts {
    font-size: 1.5em;
    color: #ff69b4;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px) {
    .header img {
        display: none;
    }   

}

@media (max-width: 768px) {
    #messages-list {
        flex-direction: column;
        align-items: center;
    }

    .cute-message {
        width: 80%;
    }
}
